 span.arrow {
 	margin-left: 6px;
 	height:17px;
 	background: url('http://i45.tinypic.com/f9ifz6.png') no-repeat left center;
 }
 label.error {
 	height: 35px;
 	margin-top: 15px;
 	padding: 1px 10px;
 	font-size: 14px;
 	color: #b92219;
 	box-sizing: border-box;
 	line-height: 35px;
 	border: 1px solid #b92219;
 	border-radius: 6px;
 	background: #ffd1d1;
 }

 .pay-card .list-block input.input, .pay-card .sms select {
 	border: 1px solid #cccccc !important;
 	padding: 10px 16px;
 	min-height: 45px;
 }        
 .normal-packagex{
 	background-color: #f5f6fa;
 }        
 .centerpac{
 	padding-left: 0px !important; 

 }            
 .item-innerx{
 	padding-bottom: 0px !important;     
 	margin-bottom: 0px !important; 
 }
 .item-icon{
 	position: relative;
 	top: 4px;
 }
 .item-content{


 }
 hr{
 	border-top: 1px solid #ccc
 }
 .costleft{
 	background: #2ea813;
 	color: white;
 	border-radius: 7px;
 	max-width: 160px;
 	text-transform: none;
 	font-size: 15px;
 	position: relative;
 	bottom: -2px;
 	right: 16px;
 	font-weight: 300;
 }

 input, select {
 	border: 1px solid #cccccc !important;
 	padding: 10px 16px !important;
 	min-height: 45px !important;
 	border-radius: 5px !important;
 }
 .list-packet .normal-package:not(.pay_now), .pay-card .col_left .normal-package{
 	background-color: #f5f6fa;
 	

 }
 .list-packet .pay-button{
 	/*min-width: 144px !important ;*/
 	text-align: left;
 	pointer-events:none;
 }
 form{
 	position: relative;
 	bottom: -15px;
 }
 .money-lack {
 	color: #fd9124;
 	background-color: #f1f4f6;
 	margin: 8px 16px 0;
 	padding: 10px;
 	box-shadow: 0 1px 3px rgba(0,0,0,.12), 1px 1px 2px rgba(0,0,0,.24);
 }
 
 .overplayy {
 	display: block !important;
 	position: fixed !important;
 	width: 100vw !important; 
 	height: 100vh !important;
 	background: rgba(0, 0, 0, 0.7) !important;
 	z-index: 99999999999 !important; 
 	opacity: 0;
 	transition: all 0.5s ease-in-out !important;
 }


 .normal-packagex{
 	background-color: rgba(255, 27, 27, 0) !important;
 }
 .page-content{
 	/*height: auto !important;*/
 }
 body,html{
 	height: 100%;
 	overflow: hidden;  
 }
 html, body,.page-content{
 	/*overflow: hidden;  */
 }
